body{
	width: 33%;
    background-color: rgb(204,204,255);
}

.result{
    background-color: black;
    border: solid;
    height: 48px;
    font-size: 20px;
    color: limegreen;
}
.binary{
    background-color: lightgreen;
    color: red;
}
.ce{
    background-color: darkgreen;
    color: white;
}
.operator{
    background-color: black;
    color: rgb(255,102,178);
}
.binary, .ce, .operator{
    width: 25%;
    height: 36px;
    font-size: 18px;
    margin: 0px;
    float: left;
}
.binary:hover, .ce:hover, .operator:hover{
    font-weight: bolder;
    font-size: 1.3em;
    cursor: pointer;
}